<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/png" href="../static/img/icon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <title>Iryna Azevedo</title>
</head>
<body>

    <i class="bi bi-list menu-mobile"></i>

    <aside id='header'>
        <section class="profile">
            <img src="../static/img/eu.jpg" alt="Foto da Iryna">
            <h1>Iryna Azevedo</h1>
            <div class="social-links mt-4 text-center">
                <a target="_blank" href="https://www.linkedin.com/in/irymna/">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a target="_blank" href="https://github.com/irymna">
                    <i class="bi bi-github"></i>
                </a>
                <a target="_blank" href="https://medium.com/@Irymna">
                    <i class="bi bi-medium"></i>
                </a>
            </div>
        </section>

        <nav id='navbar' class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="#inicio"><i class="bi bi-house-fill"></i> Início</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#sobre"><i class="bi bi-person-fill"></i> Sobre</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#habilidades"><i class="bi bi-check-square-fill"></i> Habilidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#curriculo"><i class="bi bi-file-earmark-bar-graph-fill"></i> Currículo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portfolio"><i class="bi bi-collection-fill"></i> Portfólio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contato"><i class="bi bi-envelope-fill"></i> Contato</a>
                </li>
              </ul>
        </nav>
    </aside>

    <main id="main">
        <section id="inicio" class="row m-0 p-0">
            <div class="centered-container">
                <div class="col-md-8 d-flex justify-content-center align-items-center flex-column">
                    <h2 class="text-white text-shadow gray-marker text-center mx-auto">Iryna Azevedo</h2>
                    <span id="subtitle" class="text-secondary text-white gray-marker text-center mx-auto">Analista de Dados e Estudante de Publicidade e Propaganda</span>
                </div>
            </div>

            <div class=".col-md-7 d-flex justify-content-end align-items-end flex-column">
                <div id="arraste" class="d-flex justify-content-center align-items-center">
                    <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
                    <a href="#sobre">Arraste para mais</a>
                </div>
            </div>
        </section>

        <section class="container pb-5" id='sobre'>
            <div class="row w-100">
                <div class="col-md-12" data-anime="up">
                    <h2 class="pt-3">Sobre</h2>
                    <p>Apaixonada por tecnologia, curiosa e inquieta, sou uma pessoa que sempre está em busca 
                        de compreender o funcionamento das coisas, tanto para o meu crescimento profissional 
                        quanto para realização pessoal. Ingressei na faculdade de Biologia, na UNESP, em 2017 com o 
                        intuito de aprimorar essas características, mergulhando no estudo da 
                        natureza. No entanto, ao assumir o cargo de Diretora de Marketing na empresa júnior do 
                        curso, percebi uma oportunidade de utilizar meu conhecimento e aplicá-lo na área de 
                        comunicação e tecnologia, ampliando as possibilidades de aplicação no mercado de trabalho. </p>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col md-4">
                    <img class="img-fluid shadow" src="../static/img/iryna2.jpg" alt="Foto da Iryna" data-anime="left" width="600" height="500">
                </div>
                <div class="col-md-7" data-anime="up">
                    <h3>Hoje, sou estagiária em Análise de Negócios no Itaú Unibanco e estudante de Publicidade e Propaganda na USP</h3>
                    <p>Em 2021, ingressei na USP e, no mesmo ano, tornei-me membro do Turing USP, 
                        um grupo de extensão da faculdade dedicado ao estudo e aplicações de inteligência artificial. 
                        Desde então, tenho dedicado meus estudos ao aprimoramento dos meus conhecimentos em análise 
                        de dados e inteligência artificial, estabelecendo conexões com os conhecimentos adquiridos no 
                        curso de Publicidade.
                    </p>
                        <div class="row mt-3 mb-2">
                            <h5>Curiosidades sobre mim:</h5>
                            <div class="col-md-6">
                                <ul class="list-group list-group-flush fs-6">
                                    <li class="list-group-item">
                                        Aniversário: <span class="fw-lighter">13 de Outubro</span>
                                    </li>
                                    <li class="list-group-item">
                                        Nascimento: <span class="fw-lighter">Aracaju/SE</span>
                                    </li>
                                    <li class="list-group-item">
                                        Mora em: <span class="fw-lighter">São Paulo/SP</span>
                                  </ul>
                            </div>
                            <div class="col md 6">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        Hobby: <span class="fw-lighter">Desenhar</span>
                                    </li>
                                    <li class="list-group-item">
                                        Hobby 2: <span class="fw-lighter">Ir em shows e festivais</span>
                                    </li>
                                    <li class="list-group-item">
                                        Pets: <span class="fw-lighter">Agregado e Fantasma (2 gatos)</span>
                                    </li>
                                  </ul>
                            </div>
                        </div>
                </div>
            </div>
        </section>

        <section class="mt-5 section-bg" id="habilidades">
            <div class="container pb-5">
                <h2 class="pt-5">Habilidades</h2>
                <p>Abaixo demonstro algumas habilidades adquiridas em cursos e no trabalho.</p>
                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Python</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" data-anime="left" style="width: 80%">80%</div>
                        </div>
                        <p class="mt-3 mb-0">SQL</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" data-anime="left" style="width: 75%">75%</div>
                        </div>
                        <p class="mt-3 mb-0">Machine Learning</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" data-anime="left" style="width: 60%">60%</div>
                        </div>
                        <p class="mt-3 mb-0">Deploy</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" data-anime="left" style="width: 50%">50%</div>
                        </div>                                              
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Excel</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" data-anime="left" style="width: 80%">80%</div>
                        </div>
                        <p class="mt-3 mb-0">Power Point</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" data-anime="left" style="width: 70%">70%</div>
                        </div>
                        <p class="mt-3 mb-0">Power BI</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" data-anime="left" style="width: 60%">60%</div>
                        </div>
                        <p class="mt-3 mb-0">Língua Inglesa (C1 Advanced)</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" data-anime="left" style="width: 70%">70%</div>
                        </div>                     
                    </div>
                </div>
                <hr class="w-50 me-auto ms-auto" style="height: 3px; margin-top: 50px;">
                <div class="row">
                    <div class="col-md-8 me-auto ms-auto">
                        <span class="badge text-bg-primary">Trabalho em Equipe</span>
                        <span class="badge text-bg-primary">Comunicação</span>
                        <span class="badge text-bg-primary">Proatividade</span>
                        <span class="badge text-bg-primary">Comprometimento</span>
                        <span class="badge text-bg-primary">Criatividade</span>
                        <span class="badge text-bg-primary">Organização</span>                   
                    </div>
                </div>
            </div>
        </section>

        <section class="mt-5 cv" id="curriculo">
            <div class="container pb-5">
                <h2 class="pt-3 pb-4">Currículo</h2>
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="cv-title">Educação</h3>
                        <div class='cv-item' data-anime="up">
                            <h4>Publicidade e Propaganda</h4>
                            <h5>03/2021 - 12/2024 (Cursando)</h5>
                            <p><em>Universidade de São Paulo - USP</em></p>
                            <p>Bacharelado em Comunicação Social com Habilitação em Publicidade e Propaganda.</p>
                        </div>
                        <div class='cv-item' data-anime="up">
                            <h4>Ciências Biológicas</h4>
                            <h5>03/2017 - 12/2019</h5>
                            <p><em>Universidade Estadual Paulista - UNESP</em></p>
                            <p>Bacharelado e Licenciatura em Ciências Biológicas. Curso trancado no sexto semestre.</p>
                        </div>
                        <div class='cv-item' data-anime="up">
                        <h4>Cursos Extracurriculares</h4>
                        <p><h5>Data Analyst in SQL - DataCamp</h5></p>
                        <h6>10/2022 - Cursando</h6>
                        <p>Track interativa com 12 etapas que levam à formação em Análise de Dados com SQL. Concluí 3 etapas: Introduction to SQL,
                            Intermediate SQL e Joining Data in SQL. Atualmente estou Cursando Data Manipulation in SQL.
                        </p>
                        <p><h5>Comunicação e Oratória - Escola Conquer</h5></p>
                        <h6>09/2021 - Concluído</h6>
                        <p>Curso voltado à capacitação dos alunos a se comunicarem de forma clara,
                             persuasiva e confiante em diversas situações. Através de técnicas e estratégias abrangentes, 
                             aprendemos a aprimorar a expressão verbal e não verbal, estruturar e apresentar discursos 
                             impactantes, lidar com o medo e o nervosismo, além de desenvolver habilidades de empatia, 
                             escuta ativa e assertividade.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3 class="cv-title">Profissional</h3>
                        <div class='cv-item' data-anime="up">
                            <h4>Analista de Negócios - Estágio</h4>
                            <h5>07/2022 - Atual</h5>
                            <p><em>Itaú Unibanco</em></p>
                            <p>Análise de dados do Assistente Virtual Itaú para tomada de decisão visando a otimização de jornadas dos clientes PJ, 
                                prestando apoio no processo de discovery e delivery. 
                                No trabalho, utilizo SQL para fazer as consultas no banco de dados (Hadoop/SAS), 
                                assim como Excel para realizar as análises e construção de dashboards. 
                                Além disso, utilizo algumas bibliotecas em Python (como Pandas, Matplotlib e Seaborn) para realizar a limpeza, 
                                manipulação e visualização dos dados.</p>                            
                        </div>
                        <div class='cv-item' data-anime="up">
                            <h4>Turing USP - Membro</h4>
                            <h5>07/2021 - 07/2023</h5>
                            <p><em>Universidade de São Paulo</em></p>
                            <p>Grupo de Extensão Universitária da USP focado em estudar, aplicar e disseminar conhecimentos sobre inteligência artificial, 
                                realizando eventos e projetos relacionados ao assunto.
                                Como Trainee, resolvi dois cases para adquirir o aprendizado na linguagem Python e ser, de fato, vinculada ao grupo. 
                                O primeiro case consistia na limpeza e análise dos dados de um dataset de 120 anos dos jogos olímpicos, já o segundo 
                                case pedia a limpeza, análise e predição dos dados de um dataset referente aos trabalhadores da área de 
                                ciência de dados. Após as resoluções, entrei para a área de NLP (Natural Language Processing), 
                                ou Processamento de Linguagem Natural, e Ciência de Dados.
                                <p>Suporte em projetos: Workshop for Her (voltado para a inserção de mulheres no ramo da tecnologia).</p></p>
                        </div>
                        <div class='cv-item' data-anime="up">
                            <h4>Estagiária em Projetos Digitais</h4>
                            <h5>10/2021 - 07/2022</h5>
                            <p><em>Leo Burnett Tailor Made</em></p>
                            <p>Responsável pelo controle de pauta e gestão de materiais de desdobramentos criativos para a produção digital, 
                                assim como a gestão de terceiros dentro da área. Além disso, também elaborei orçamentos e rateio de jobs 
                                dentro da produção digital.
                                <p>Suporte em projetos: FCA FIAT, BRADESCO, NIVEA, SAMSUNG.</p></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-bg mt-5" id="portfolio">
            <div class="container pb-5" data-anime="left">
                <h2 class="pb-4">Portfólio</h2>
                <div id="carouselPortfolio" class="carousel carousel-dark slide">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active" data-bs-interval="10000">
                        <div class="row row-cols-1 row-cols-md-3 g-4">
                            <div class="col">
                              <div class="card">
                                <img src="../static/img/spotify-dados.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Dashboard Spotify</h5>
                                  <p class="card-text">Dashboard feito no Microsoft Power BI dos meus dados recolhidos do Spotify, de
                                    2015 até primeiro semestre de 2023.</p>
                                    <div class="d-flex justify-content-center">
                                        <a href="https://app.powerbi.com/view?r=eyJrIjoiOWIyMjhmN2EtZWZhNS00ZTQ3LWIxYmMtYjFmMjE4MmY0Mzg1IiwidCI6IjdlOTNlMjg2LWIyOWEtNDQ1NC1hNDFhLWU4NDE5ZWM5ZGViNSJ9" target='_blank'
                                            class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                    </div>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card">
                                <img src="../static/img/analise_sent.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Análise de Sentimentos - NLP</h5>
                                  <p class="card-text">Modelo de Processamento de Linguagem Natural para a análise de sentimentos (positivo ou negativo) de comentários da Amazon.
                                  </p>
                                    <div class="d-flex justify-content-center">
                                        <a href="https://github.com/irymna/NLP-PrimeiroProjeto" target='_blank' class="btn btn-outline-dark me-3"><i
                                            class="bi bi-github"></i></a>
                                </div>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card">
                                <img src="../static/img/data-cien.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Mudança de emprego</h5>
                                  <p class="card-text">Modelo de predição dos dados para saber quais profissionais do ramo de Ciência de Dados querem mudar de emprego.</p>
                                    <div class="d-flex justify-content-center">
                                        <a href="https://github.com/irymna/NLP-PrimeiroProjeto" target='_blank' class="btn btn-outline-dark me-3"><i
                                            class="bi bi-github"></i></a>
                                    </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <div class="row row-cols-1 row-cols-md-3 g-4">
                            <div class="col">
                              <div class="card">
                                <img src="../static/img/predicao.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Predição de Popularidade</h5>
                                  <p class="card-text">Modelo de predição para saber quais músicas do Spotify são populares ou não.</p>
                                    <div class="d-flex justify-content-center">
                                        <a href="https://github.com/irymna/spotify-popularity/tree/main" target='_blank' class="btn btn-outline-dark me-3"><i
                                            class="bi bi-github"></i></a>
                                    </div>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card">
                                <img src="../static/img/analise_sent.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Análise de Sentimentos - NLP</h5>
                                  <p class="card-text">Modelo de Processamento de Linguagem Natural para a análise de sentimentos (positivo ou negativo) de comentários da Amazon.
                                  </p>
                                    <div class="d-flex justify-content-center">
                                        <a href="https://github.com/irymna/NLP-PrimeiroProjeto" target='_blank' class="btn btn-outline-dark me-3"><i
                                            class="bi bi-github"></i></a>
                                </div>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card">
                                <img src="../static/img/data-cien.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Mudança de emprego</h5>
                                  <p class="card-text">Modelo de predição dos dados para saber quais profissionais do ramo de Ciência de Dados querem mudar de emprego.</p>
                                    <div class="d-flex justify-content-center">
                                        <a href="https://github.com/irymna/NLP-PrimeiroProjeto" target='_blank' class="btn btn-outline-dark me-3"><i
                                            class="bi bi-github"></i></a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>                     
                    </div>
                    <style>
                        .carousel-control-prev-icon,
                        .carousel-control-next-icon {
                            background-color: rgb(169, 169, 168);
                        }
                    </style>
                    
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselPortfolio" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselPortfolio" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </div>
        </section>

        <section class="pb-5 pt-5" id="contato">
            <div class="container pb-5">
                <h2 class="pt-3 pb-3">Contato</h2>
                <div class="row">
                    <div class="col-md-5">
                        <div class="card pt-5 shadow border-0" data-anime="up">
                            <div class="endereco" style="margin-left: 30px;">
                                <h4><i class="bi bi-geo-alt"></i> Localização:</h4>
                                <p>São Paulo - SP</p>
                            </div>
                            <div class="email" style="margin-left: 30px;">
                                <h4><i class="bi bi-envelope"></i> Email</h4>
                                <p>iryna.mireia@hotmail.com</p>
                            </div>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.197353585636!2d-46.659069224940666!3d-23.561354478799817!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce59c8da0aa315%3A0xd59f9431f2c9776a!2sAv.%20Paulista%2C%20S%C3%A3o%20Paulo%20-%20SP!5e0!3m2!1sen!2sbr!4v1687643262016!5m2!1sen!2sbr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" class="w-100" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                    <div class="col-md-7 mt-5 mt-md-0">
                        <div class="card p-5 h-100 shadow border-0" data-anime="left">
                            <form class="row g-3" action='/send' method="POST">
                                <div class="col-md-6">
                                  <label for="nome" class="form-label">Nome:</label>
                                  <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite seu nome" required>
                                </div> 

                                <div class="col-md-6">
                                  <label for="email" class="form-label">Email:</label>
                                  <input type="email" class="form-control" id="email" name="email" placeholder="Digite seu email" required>
                                </div>
                                
                                <div class="col-12">
                                  <label for="mensagem" class="form-label">Mensagem:</label>
                                  <textarea type="text" class="form-control" id="mensagem" name="mensagem" rows="10" placeholder="Digite sua mensagem" required></textarea>
                                </div>

                                <div class="col-12 d-flex justify-content-center">
                                  <button id="btn-enviar" type="submit" class="btn btn-outline-primary">Enviar</button>

                                  <button id='btn-enviar-loader' class="btn btn-primary" type="button" disabled>
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    Enviando...
                                  </button>
                                </div>
                              </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div id="alerta" class="alert alert-success alert-dismissible fade show" role="alert">
            <i class="bi bi-check-circle-fill"></i> {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

    </main>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
    
    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>
</html>