<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/png" href="../static/img/icon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <title>Iryna Azevedo</title>
</head>
<body>

    <i class="bi bi-list menu-mobile"></i>

    <aside id='header'>
        <section class="profile">
            <img src="../static/img/eu.jpg" alt="Foto da Iryna">
            <h1>Iryna Azevedo</h1>
            <div class="social-links mt-4 text-center">
                <a target="_blank" href="https://www.linkedin.com/in/irymna/">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a target="_blank" href="https://github.com/irymna">
                    <i class="bi bi-github"></i>
                </a>
                <a target="_blank" href="https://medium.com/@Irymna">
                    <i class="bi bi-medium"></i>
                </a>
            </div>
        </section>

        <nav id='navbar' class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#inicio"><i class="bi bi-house-fill"></i> Início</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#sobre"><i class="bi bi-person-fill"></i> Sobre</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#habilidades"><i class="bi bi-check-square-fill"></i> Habilidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#curriculo"><i class="bi bi-file-earmark-bar-graph-fill"></i> Currículo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portfolio"><i class="bi bi-collection-play-fill"></i> Portfólio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contato"><i class="bi bi-envelope-fill"></i> Contato</a>
                </li>
              </ul>
        </nav>
    </aside>

    <main id="main">
        <section id="inicio" class="row m-0 p-0">
            <div class=".col-md-5 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-dark text-shadow">Iryna Azevedo</h2>
                <span id="subtitle" class="text-secondary text-shadow">Analista de Dados e Estudante</span>
            </div>

            <div class=".col-md-7 d-flex justify-content-end align-items-end flex-column">
                <div id="arraste" class="d-flex justify-content-center align-items-center">
                    <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
                    <a href="#sobre">Arraste para mais</a>
                </div>
            </div>
        </section>

        <section class="container mt-5" id="sobre">
            <div class="row w-100">
                <div class="col-md-12">
                    <h2 class="pt-3">Sobre</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col md-4">
                    <img class="img-fluid shadow" src="../static/img/eu.jpg" alt="Foto da Iryna" width="600" height="500">
                </div>
                <div class="col-md-8">
                    <h3>Estagiária em Análise de Negócios no Itaú Unibanco e estudante de Publicidade e Propaganda na USP</h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, 
                        eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                        <div class="row mt-3 mb-3">
                            <div class="col-md-6">
                                <ul class="list-group list-group-flush fs-6">
                                    <li class="list-group-item">
                                        Aniversário: <span class="fw-lighter">13 de Outubro de 1996</span>
                                    </li>
                                    <li class="list-group-item">
                                        Nascimento: <span class="fw-lighter">Aracaju/SE</span>
                                    </li>
                                    <li class="list-group-item">
                                        Mora em: <span class="fw-lighter">São Paulo/SP</span>
                                  </ul>
                            </div>
                            <div class="col md 6">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        Hobby: <span class="fw-lighter">Tocar violão</span>
                                    </li>
                                    <li class="list-group-item">
                                        Pets: <span class="fw-lighter">2 gatos (Agregado e Fantasma)</span>
                                    </li>
                                    <li class="list-group-item">
                                        xxxx: <span class="fw-lighter">xxxxx</span>
                                    </li>
                                  </ul>
                            </div>
                        </div>
                </div>
            </div>
        </section>

        <section class="mt-5 section-bg" id="habilidades">
            <div class="container pb-5">
                <h2 class="pt-5">Habilidades</h2>
                <p>dnfcjdsnsjnvnvovnsjnvsjncjnv dsvndsjvni ubiudsbvdsjvn dunvdsjnvisdbvi nsdjivbisb</p>
                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Python</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 80%">80%</div>
                        </div>
                        <p class="mt-3 mb-0">SQL</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 75%">75%</div>
                        </div>
                        <p class="mt-3 mb-0">Machine Learning</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 60%">60%</div>
                        </div>
                        <p class="mt-3 mb-0">Deploy</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 50%">50%</div>
                        </div>                                              
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Excel</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 80%">80%</div>
                        </div>
                        <p class="mt-3 mb-0">Power Point</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 70%">70%</div>
                        </div>
                        <p class="mt-3 mb-0">Power BI</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 60%">60%</div>
                        </div>
                        <p class="mt-3 mb-0">Língua Inglesa (C1 Advanced)</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 70%">70%</div>
                        </div>                     
                    </div>
                </div>
                <hr class="w-50 me-auto ms-auto" style="height: 3px; margin-top: 50px;">
                <div class="row">
                    <div class="col-md-8 me-auto ms-auto">
                        <span class="badge text-bg-primary">Trabalho em Equipe</span>
                        <span class="badge text-bg-primary">Comunicação</span>
                        <span class="badge text-bg-primary">Proatividade</span>
                        <span class="badge text-bg-primary">Comprometimento</span>
                        <span class="badge text-bg-primary">Disciplina</span>
                        <span class="badge text-bg-primary">Organização</span>
                        <span class="badge text-bg-primary">Criatividade</span>                     
                    </div>
                </div>
            </div>
        </section>

        <section class="mt-5 cv" id="curriculo">
            <div class="container pb-5">
                <h2 class="pt-3 pb-4">Currículo</h2>
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="cv-title">Educação</h3>
                        <div class='cv-item'>
                            <h4>Publicidade e Propaganda</h4>
                            <h5>03/2021 - 12/2024 (Cursando)</h5>
                            <p><em>Universidade de São Paulo - USP</em></p>
                            <p>Bacharelado em Comunicação Social com Habilitação em Publicidade e Propaganda.</p>
                        </div>
                        <div class='cv-item'>
                            <h4>Ciências Biológicas</h4>
                            <h5>03/2017 - 12/2019</h5>
                            <p><em>Universidade Estadual Paulista - UNESP</em></p>
                            <p>Bacharelado e Licenciatura em Ciências Biológicas. Curso trancado no sexto semestre.</p>
                        </div>
                        <div class='cv-item'>
                        <h4>Cursos Extracurriculares</h4>
                        <p><h5>Data Analyst in SQL - DataCamp</h5></p>
                        <h6>10/2022 - Cursando</h6>
                        <p>Track interativa com 12 etapas que levam à formação em Análise de Dados com SQL. Concluí 3 etapas: Introduction to SQL,
                            Intermediate SQL e Joining Data in SQL. Atualmente estou Cursando Data Manipulation in SQL.
                        </p>
                        <p><h5>Comunicação e Oratória - Escola Conquer</h5></p>
                        <h6>09/2021 - Concluído</h6>
                        <p>Curso voltado à capacitação dos alunos a se comunicarem de forma clara,
                             persuasiva e confiante em diversas situações. Através de técnicas e estratégias abrangentes, 
                             aprendemos a aprimorar a expressão verbal e não verbal, estruturar e apresentar discursos 
                             impactantes, lidar com o medo e o nervosismo, além de desenvolver habilidades de empatia, 
                             escuta ativa e assertividade.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3 class="cv-title">Profissional</h3>
                        <div class='cv-item'>
                            <h4>Analista de Negócios - Estágio</h4>
                            <h5>07/2022 - Atual</h5>
                            <p><em>Itaú Unibanco</em></p>
                            <p>Análise de dados do Assistente Virtual Itaú para tomada de decisão visando a otimização de jornadas dos clientes PJ, 
                                prestando apoio no processo de discovery e delivery. 
                                No trabalho, utilizo SQL para fazer as consultas no banco de dados (Hadoop/SAS), 
                                assim como Excel para realizar as análises e construção de dashboards. 
                                Além disso, utilizo algumas bibliotecas em Python (como Pandas, Matplotlib e Seaborn) para realizar a limpeza, 
                                manipulação e visualização dos dados.</p>                            
                        </div>
                        <div class='cv-item'>
                            <h4>Turing USP - Membro</h4>
                            <h5>07/2021 - 07/2023</h5>
                            <p><em>Universidade de São Paulo</em></p>
                            <p>Grupo de Extensão Universitária da USP focado em estudar, aplicar e disseminar conhecimentos sobre inteligência artificial, 
                                realizando eventos e projetos relacionados ao assunto.
                                Como Trainee, resolvi dois cases para adquirir o aprendizado na linguagem Python e ser, de fato, vinculada ao grupo. 
                                O primeiro case consistia na limpeza e análise dos dados de um dataset de 120 anos dos jogos olímpicos, já o segundo 
                                case pedia a limpeza, análise e predição dos dados de um dataset referente aos trabalhadores da área de 
                                ciência de dados. Após as resoluções, entrei para a área de NLP (Natural Language Processing), 
                                ou Processamento de Linguagem Natural, e Ciência de Dados.
                                <p>Suporte em projetos: Workshop for Her (voltado para a inserção de mulheres no ramo da tecnologia).</p></p>
                        </div>
                        <div class='cv-item'>
                            <h4>Estagiária em Projetos Digitais</h4>
                            <h5>10/2021 - 07/2022</h5>
                            <p><em>Leo Burnett Tailor Made</em></p>
                            <p>Responsável pelo controle de pauta e gestão de materiais de desdobramentos criativos para a produção digital, 
                                assim como a gestão de terceiros dentro da área. Além disso, também elaborei orçamentos e rateio de jobs 
                                dentro da produção digital.
                                <p>Suporte em projetos: FCA FIAT, BRADESCO, NIVEA, SAMSUNG.</p></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-bg mt-5" id="portfolio">
            <div class="container pb-5 pt-5">
                <h2 class="pb-4">Portfólio</h2>
                <div id="carouselPortfolio" class="carousel carousel-dark slide">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active" data-bs-interval="10000">
                        <div class="row row-cols-1 row-cols-md-3 g-4">
                            <div class="col">
                              <div class="card">
                                <img src="../static/img/spotify-dados.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Dashboard Spotify</h5>
                                  <p class="card-text">Dashboard feito no Microsoft Power BI dos meus dados recolhidos do Spotify, de
                                    2015 até primeiro semestre de 2023.</p>
                                    <div class="d-flex justify-content-center">
                                        <a href="https://app.powerbi.com/view?r=eyJrIjoiOWIyMjhmN2EtZWZhNS00ZTQ3LWIxYmMtYjFmMjE4MmY0Mzg1IiwidCI6IjdlOTNlMjg2LWIyOWEtNDQ1NC1hNDFhLWU4NDE5ZWM5ZGViNSJ9" target='_blank'
                                            class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                    </div>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card">
                                <img src="../static/img/analise_sent.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Análise de Sentimentos - NLP</h5>
                                  <p class="card-text">Modelo de Processamento de Linguagem Natural para a análise de sentimentos (positivo ou negativo) de comentários da Amazon.
                                  </p>
                                    <div class="d-flex justify-content-center">
                                        <a href="https://github.com/irymna/NLP-PrimeiroProjeto" target='_blank' class="btn btn-outline-dark me-3"><i
                                            class="bi bi-github"></i></a>
                                </div>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card">
                                <img src="../static/img/data-cien.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Mudança de emprego</h5>
                                  <p class="card-text">Modelo de predição dos dados para saber quais profissionais do ramo de Ciência de Dados querem mudar de emprego.</p>
                                    <div class="d-flex justify-content-center">
                                        <a href="https://github.com/irymna/NLP-PrimeiroProjeto" target='_blank' class="btn btn-outline-dark me-3"><i
                                            class="bi bi-github"></i></a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <div class="row row-cols-1 row-cols-md-3 g-4">
                            <div class="col">
                              <div class="card">
                                <img src="../static/img/spotify-dados.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Dashboard Spotify</h5>
                                  <p class="card-text">Dashboard feito no Microsoft Power BI dos meus dados recolhidos do Spotify, de
                                    2015 até primeiro semestre de 2023.</p>
                                    <div class="d-flex justify-content-center">
                                        <a href="https://app.powerbi.com/view?r=eyJrIjoiOWIyMjhmN2EtZWZhNS00ZTQ3LWIxYmMtYjFmMjE4MmY0Mzg1IiwidCI6IjdlOTNlMjg2LWIyOWEtNDQ1NC1hNDFhLWU4NDE5ZWM5ZGViNSJ9" target='_blank'
                                            class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                    </div>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card">
                                <img src="../static/img/analise_sent.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Análise de Sentimentos - NLP</h5>
                                  <p class="card-text">Modelo de Processamento de Linguagem Natural para a análise de sentimentos (positivo ou negativo) de comentários da Amazon.
                                  </p>
                                    <div class="d-flex justify-content-center">
                                        <a href="https://github.com/irymna/NLP-PrimeiroProjeto" target='_blank' class="btn btn-outline-dark me-3"><i
                                            class="bi bi-github"></i></a>
                                </div>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card">
                                <img src="../static/img/data-cien.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Mudança de emprego</h5>
                                  <p class="card-text">Modelo de predição dos dados para saber quais profissionais do ramo de Ciência de Dados querem mudar de emprego.</p>
                                    <div class="d-flex justify-content-center">
                                        <a href="https://github.com/irymna/NLP-PrimeiroProjeto" target='_blank' class="btn btn-outline-dark me-3"><i
                                            class="bi bi-github"></i></a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>                     
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselPortfolio" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselPortfolio" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </div>
        </section>
    </main>
    
    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>
</html>